[submodule "lib/FNA"]
	path = lib/FNA
	url = https://github.com/FNA-XNA/FNA.git
[submodule "lib/Myra"]
	path = lib/Myra
	url = https://github.com/rds1983/Myra.git
[submodule "lib/FontStashSharp"]
	path = lib/FontStashSharp
	url = https://github.com/FontStashSharp/FontStashSharp.git
[submodule "lib/XNAssets"]
	path = lib/XNAssets
	url = https://github.com/rds1983/XNAssets.git
